.author {
	margin: 1.43rem auto;
}
.author:after, .author::after {
	content: '';
	display: block;
	clear: both;
}

.author .profile, .author .author-profile {
	float: left;
}

.author .author-profile {
	width: 29.76rem;
	margin-left: 0.71rem;
	overflow: hidden;
}