h1,h2,h3 {
	font-family: "jaf-bernino-sans",sans-serif;
}

h1 {
	font-size: 1.33rem;
	font-weight: 700;
	letter-spacing: -.022em;
	line-height: 1.2;
}
p, li {
	font-size: 1rem;
	font-family: "freight-text-pro",sans-serif;
	letter-spacing: -.004em;
	line-height: 1.5;
}

figcaption {
	font-size: 0.78rem;
	font-family: "jaf-bernino-sans", sans-serif;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 1.4;
	color: rgba(0,0,0,0.6);
	text-align: center;
}

em {
	font-style: normal;
	font-style: italic;
}
em.bold {
	font-style: normal;
	font-weight: bold;
}
.wide {
	width: 100%;
}