header h1, header p{
	color: #eeeeef;
}

.logo {
	font-size: 0.83rem;
	font-weight: 900;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 4rem;
}

.page-header p:last-child {
	font-size: 1.83rem;
	font-weight: 400;
	margin-top: 1.17rem;
}

.page-header p:last-child::after {
	content: '';
	display: block;
	width: 6%;
	height: 0.25rem;
	margin-top: 2rem;
	background-color: #eeeeef;
}

.step {
	font-size: 1.17rem;
}

h2 {
	font-size: 1.17rem;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #6496ff;
}

label, .label {
	font-size: 1rem;
	font-weight: 400;
}

.payment-plan label {
	font-weight: 400;
}

input[placeholder] {
	font-size: 1rem;
	color: #d0d2d5;
}